![Parked motorcycle](motorcycle.jpg)

You're working for a company that sells motorcycle parts, and they've asked for some help in analyzing their sales data!

They operate three warehouses in the area, selling both retail and wholesale. They offer a variety of parts and accept credit cards, cash, and bank transfer as payment methods. However, each payment type incurs a different fee.

The board of directors wants to gain a better understanding of wholesale revenue by product line, and how this varies month-to-month and across warehouses. You have been tasked with calculating net revenue for each product line and grouping results by month and warehouse. The results should be filtered so that only `"Wholesale"` orders are included.

They have provided you with access to their database, which contains the following table called `sales`:

## Sales
| Column | Data type | Description |
|--------|-----------|-------------|
| `order_number` | `VARCHAR` | Unique order number. |
| `date` | `DATE` | Date of the order, from June to August 2021. |
| `warehouse` | `VARCHAR` | The warehouse that the order was made from&mdash; `North`, `Central`, or `West`. |
| `client_type` | `VARCHAR` | Whether the order was `Retail` or `Wholesale`. |
| `product_line` | `VARCHAR` | Type of product ordered. |
| `quantity` | `INT` | Number of products ordered. | 
| `unit_price` | `FLOAT` | Price per product (dollars). |
| `total` | `FLOAT` | Total price of the order (dollars). |
| `payment` | `VARCHAR` | Payment method&mdash;`Credit card`, `Transfer`, or `Cash`. |
| `payment_fee` | `FLOAT` | Percentage of `total` charged as a result of the `payment` method. |


Your query output should be presented in the following format:

| `product_line` | `month` | `warehouse` |	`net_revenue` |
|----------------|-----------|----------------------------|--------------|
| product_one | --- | --- | --- |
| product_one | --- | --- | --- |
| product_one | --- | --- | --- |
| product_one | --- | --- | --- |
| product_one | --- | --- | --- |
| product_one | --- | --- | --- |
| product_two | --- | --- | --- |
| ... | ... | ... | ... |

In [8]:
select

  s.product_line
, s.warehouse
, to_char(s.date, 'FMMonth') as month
, sum ( s.total - s.payment_fee) as net_revenue

from public.sales as s

where
s.client_type = 'Wholesale'

group by
  s.product_line
, s.warehouse
, month

order by product_line desc, month desc, net_revenue desc

             product_line warehouse   month  net_revenue
0   Suspension & traction     North    June      8065.74
1   Suspension & traction   Central    June      3325.00
2   Suspension & traction      West    June      2372.52
3   Suspension & traction   Central    July      6456.72
4   Suspension & traction     North    July      3714.28
5   Suspension & traction      West    July      2939.32
6   Suspension & traction   Central  August      5416.70
7   Suspension & traction     North  August      4923.69
8   Suspension & traction      West  August      1080.79
9           Miscellaneous      West    June      2280.97
10          Miscellaneous   Central    June      1878.07
11          Miscellaneous     North    June       513.99
12          Miscellaneous   Central    July      3118.44
13          Miscellaneous     North    July      2404.65
14          Miscellaneous      West    July      1156.80
15          Miscellaneous     North  August      1841.40
16          Miscellaneous   Central  August      1739.76
17          Miscellaneous      West  August       813.43
18           Frame & body   Central    June      5111.34
19           Frame & body     North    June      4910.12
20           Frame & body      West    June      2779.74
21           Frame & body     North    July      6154.61
22           Frame & body   Central    July      3135.13
23           Frame & body   Central  August      8657.99
24           Frame & body     North  August      7898.89
25           Frame & body      West  August       829.69
26                 Engine   Central    June      6548.85
27                 Engine   Central    July      1827.03
28                 Engine     North    July      1007.14
29                 Engine   Central  August      9528.71
30                 Engine     North  August      2324.19
31      Electrical system   Central    June      2904.93
32      Electrical system     North    June      2022.50
33      Electrical system   Central    July      5577.62
34      Electrical system     North    July      1710.13
35      Electrical system      West    July       449.46
36      Electrical system     North  August      4721.12
37      Electrical system   Central  August      3126.43
38      Electrical system      West  August      1241.84
39         Braking system   Central    June      3684.89
40         Braking system     North    June      1487.77
41         Braking system      West    June      1212.75
42         Braking system   Central    July      3778.65
43         Braking system      West    July      3060.93
44         Braking system     North    July      2594.44
45         Braking system   Central  August      3039.41
46         Braking system      West  August      2500.67
47         Braking system     North  August      1770.84